.App {
  display: flex;
  justify-content: center;
}

.header {
  margin-top: 24px;
  display: flex;
  justify-content: space-around;
  &Link {
    border: solid black;
    color: black;
    padding: 4px 8px;
    border-radius: 4px;
    text-decoration: none;
    transition: 250ms background-color ease;
  }
}

.carte {
  border: solid;
  border-radius: 8px;
  margin: 8px;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  grid-template-rows: 1fr 1fr 1fr;
  grid-column-gap: 24px;
  grid-row-gap: 16px;
  width: 1400px;
  height: 100vh;
}

.carteItem {
  border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px 0;
}

.ajouter {
  border: none;
  padding: 4px 8px;
  width: 250px;
  height: 50px;
  font-size: 1.25rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: cornflowerblue;
}
